In [1]:
import pandas as pd

In [2]:
raw: pd.DataFrame = pd.read_csv(f'../data/metacritic.reviews._raw.csv')

In [3]:
raw

,title,user,type,grade,review,spoilers,language
0,Citizen Kane,larsenonfilm,reviewer,100.0,...,0.0,en
1,Citizen Kane,chicago-sun-times,reviewer,100.0,...,0.0,en
2,Citizen Kane,new-york-daily-news,reviewer,100.0,...,0.0,en
3,Citizen Kane,reelviews,reviewer,100.0,...,0.0,en
4,Citizen Kane,empire,reviewer,100.0,...,0.0,en
...,...,...,...,...,...,...,...
592248,Death of a Nation,Makesme,user,10.0,WhyGod is dead and we killed him The filmmaker...,0.0,NaN
592249,Death of a Nation,Halohunter2002,user,100.0,I really enjoyed this documentary I thought it...,0.0,NaN
592250,Death of a Nation,Millie33,user,0.0,You know that a documentary is doing something...,0.0,NaN
592251,Death of a Nation,coryfritz69,user,50.0,Wow very in depth historical accuracy! Big sur...,0.0,NaN
592252,Death of a Nation,T33ny1235,user,0.0,Dinesh skipped history class and it's showing....,0.0,NaN

In [4]:
formatted: pd.DataFrame = (
    raw
    [raw['language'] == 'en']
    [['grade', 'review']]
    #
    .assign(grade = lambda x: x['grade'] / 100)
    .assign(review = lambda x: x['review'].str.strip())
    #
    .drop_duplicates(subset=['review'])
    .dropna(subset=['review'])
)

In [5]:
formatted

        grade                                             review
0        1.00  There is hardly a shot in Orson Welles’ toweri...
1        1.00  Its surface is as much fun as any movie ever m...
2        1.00  Welles displays touches of genius in the handl...
3        1.00  While I acknowledge that Kane is a seminal mas...
4        1.00  The sheer audacity and delight Welles takes in...
...       ...                                                ...
591813   0.25  Cheesier than a Kraft Singles truck but half a...
591814   0.25  "Hillary’s America” isn’t designed to stand up...
591815   0.20  In the past, I’ve given D’Souza the benefit of...
591816   0.20  Hillary’s America: The Secret History of the D...
591817   0.12  D’Souza manipulates viewers’ passions while te...

[557475 rows x 2 columns]

In [6]:
formatted['grade'].describe(include='all')

count    557475.000000
mean          0.651630
std           0.271106
min           0.000000
25%           0.500000
50%           0.700000
75%           0.880000
max           1.000000
Name: grade, dtype: float64

In [50]:
filtered = formatted[
    (formatted['grade'] < 0.4) |
    (formatted['grade'] > 0.6)
]

In [51]:
filtered['grade'].describe(include='all')

count    417694.000000
mean          0.698790
std           0.295559
min           0.000000
25%           0.670000
50%           0.800000
75%           0.900000
max           1.000000
Name: grade, dtype: float64

In [52]:
filtered['grade'].value_counts()

1.00    83754
0.80    66450
0.70    55151
0.90    50523
0.75    31194
        ...
0.99        1
0.18        1
0.04        1
0.09        1
0.01        1
Name: grade, Length: 76, dtype: int64

In [68]:
stratified = filtered.groupby('grade', group_keys=False).apply(lambda x: x.sample(min(len(x), 5000)))

In [69]:
stratified

        grade                                             review
570914    0.0  For the average person capable of grasping the...
354169    0.0  Good movie to take your enemies to go see when...
53654     0.0  A hateful bitter film that mocks anyone who en...
11255     0.0  I thought it was a depressing. This movie gave...
500028    0.0            complete garbage, dont waste your money
...       ...                                                ...
126350    1.0  Jacques Audiard’s superb drama, which won the ...
44153     1.0               Dizzily rich, witty, and satisfying.
271949    1.0  KateM is a blubbering lunatic who knows nothin...
204020    1.0  One of the greatest art documentaries ever mad...
480293    1.0  Exactly what I expect from a good action movie...

[84745 rows x 2 columns]

In [70]:
stratified['grade'].describe(include='all')

count    84745.000000
mean         0.574474
std          0.311640
min          0.000000
25%          0.300000
50%          0.670000
75%          0.830000
max          1.000000
Name: grade, dtype: float64

In [71]:
# formatted.to_csv(f'../data/metacritic.reviews.formatted.csv')
# filtered.to_csv(f'../data/metacritic.reviews.filtered.csv')
stratified.to_csv(f'../data/metacritic.reviews.stratified.csv')

In [21]:
# formatted.sample(frac=0.16).to_csv(f'../data/metacritic.reviews.formatted.0.16.csv')
# filtered.sample(frac=0.16).to_csv(f'../data/metacritic.reviews.filtered.0.16.csv')